version: '1'
services:
  microservicio:
    image: myapp:latest
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "9090:9090"
    environment:
      - spring.datasource.url=jdbc:oracle:thin:@tiv84n4pw93enp6d_tp?TNS_ADMIN=/app/bd_prueba_dos/
      - spring.datasource.username=ADMIN
      - spring.datasource.password=OracleCloud123
    restart: always